
.formulario-container {
    font-family: 'Jost', sans-serif;
    margin-top: 50px;
    padding: 0 2rem;
  }
  

  .formulario-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    flex-wrap: wrap;
  }
  
  .formulario-image {
    width: 300px;
    height: 300px;
  }
  
  .formulario-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
  }
  
  .formulario-form {
    max-width: 350px;
    text-align: left;
  }
  
  .form-field {
    margin-bottom: 40px;
  }
  
  .form-label {
    font-size: 1.4rem;
  }
  
  .form-control {
    display: flex;
    justify-content: space-between;
  }
  
  .input {
    width: 500px;
    height: 40px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .form-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
  }
  
  .cancel-button,
  .submit-button {
    width: 160px;
    height: 40px;
    font-size: 1.15rem;
    border-radius: 5px;
    border: 1px solid #6FA4D3;
    color: #6FA4D3;
  }
  
  .cancel-button {
    background-color: #efefef;
  }
  
  .submit-button {
    background-color: transparent;
  }
  
  .submit-button:hover,
  .cancel-button:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  